<div class="administrate-categories">
    <p class="text-center admin-title"><%= @category.title %></p>
    <div class="pb-4 category-btn-group">
        <%= link_to 'New Words', new_admin_category_word_path(@category), class: "btn btn-new-category" %>
    </div>
    <div class ="row text-center col-6 offset-md-3">
        <table border="1">
            <tr>
                <th>WORD</th>
                <th>ANSWER</th>
                <th>SETTINGS</th>
            </tr>
            <% @words.each do |word| %>
            <tr>
                <td><%= word.content %></td>
                <td><%= word.correct_answer %></td>
                <td>
                    <%= link_to('EDIT', "#", class: "edit-btn") %>/
                    <%= link_to('DELETE', "#", method: :delete, data: { 
                        confirm: 'Are you sure?', cancel: 'Cancel', commit: 'Sure'
                    } , title: 'Confirmation', class: "delete-btn") %>
                </td>
            </tr>
            <% end %>
        </table>
    </div>
    <div class="foot-of-index">
        <%= link_to 'Back', admin_categories_path, class: "back back-index" %>
        <div class="paginate text-center mt-4">
            <%= will_paginate %>
        </div>
    </div>
</div>