<div class="container-fluid pt-4">
    <p class="text-center mb-3 pt-3 follow-title"><%= @title %></p>

    <div class="row">
        <%if @users.any? %>
            <% @users.each do |user| %>
                <div class="col-4 user-group mt-3 mb-3">
                    <div class="media mb-3">
                        <% if user.photo.attached? %>
                    <%= image_tag user.photo.variant(resize:'200x200').processed, class:"photo" %>
                        <% else %>
                            <%= image_tag 'cat.jpg', class: "photo", alt: '元の画像' %>
                        <% end %>
                        <div class="media-body">
                            <%= link_to user.name, user, class: "follow-user", style: "text-decoration: none;" %>
                        </div>
                    </div>
                </div>
            <% end %>
        <% else %>
            <div class="nothing">
                <p>Nothing</p>
            </div>
        <% end %>
    </div>

    <div class="paginate text-center mb-3">
        <%= will_paginate %>
    </div>
    <div class="space"></div>
</div>