<div class="container-fluid pt-4 pb-4">
    <div class="row height-100">
        <div class="col-md-8 offset-md-2">
            <p class="text-center admin-title"><%= @lesson.category.title %></p>
            <div class="row index">
                <% number_of_words = @lesson.answers.count %>
                <% number_of_correct_words = @lesson.totalScore %>
                <p class="text-center col-md-12 text-total">Total correct answers are <%= number_of_correct_words %>/<%= number_of_words %></p>
                <table border="1"  width="100%">
                    <tr>
                        <th>WORD</th>
                        <th>YOUR ANSWER</th>
                        <th>CORRECT ANSWER</th>
                        <th>RESULT</th>
                    </tr>
                     <% @answers.each do |answer| %>
                    <tr>
                        <td><%= answer.word.content %></td>
                        <td><%= answer.choice.content %></td>
                        <td><%= answer.word.correct_answer %></td>
                        <td>
                            <% if answer.choice.isCorrect == false %>
                                <i class="far fa-times-circle"></i>
                            <% else %>
                                <i class="far fa-check-circle"></i>
                            <% end %>
                        </td>
                    </tr>
                    <% end %>
                </table>
            </div>
            <%= link_to 'Back', categories_path, class: "back back-index" %>
            <div class="paginate text-center mt-4">
                <%= will_paginate @answers %>
            </div>
        </div>
    </div>
    <div class="space"></div>
</div>
