<div class="administrate-categories">
    <p class="text-center admin-title">ADMINISTRATER CATEGORIES</p>
    <div class="pb-4 category-btn-group">
        <%= link_to 'New Category', new_admin_category_path, class: "btn btn-new-category" %>
    </div>
    <table border="1">
        <tr>
            <th>TITLE</th>
            <th>DESCRIPTION</th>
            <th>SETTINGS</th>
        </tr>
        <% @categories.each do |category| %>
        <tr>
            <td><%= category.title %></td>
            <td><%= category.description %></td>
            <td>
                <%= link_to('EDIT', '#', method: :delete, class: "edit-btn", style: "text-decoration: none;") %>/
                <%= link_to('DELETE', '#', method: :patch, class: "delete-btn", style: "text-decoration: none;") %>
            </td>
        </tr>
        <% end %>
    </table>
    <div class="foot-of-index">
        <%= link_to 'Back', admin_home_path, class: "back back-index", style: "text-decoration: none;" %>
        <div class="paginate text-center mt-4">
            <%= will_paginate %>
        </div>
    </div>
</div>