<div class="administrate-users">
    <p class="text-center pb-4 admin-title">ADMINISTRATER USERS</p>
    <div>
        <table border="1">
            <tr>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>ADMIN</th>
            </tr>
            <% @users.each do |user| %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td>
                    <% if user.admin? %>
                        <%= link_to('DELETE', admin_user_path(user), method: :delete, class: "btn admin-delete-btn") %>
                    <% else %>
                        <%= link_to('ADD', admin_user_path(user), method: :patch, class: "btn admin-give-btn") %>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </table>
    </div>
    <div class="foot-of-index">
        <%= link_to 'Back', admin_home_path, class: "back back-index", style: "text-decoration: none;" %>
        <div class="paginate text-center mt-4">
            <%= will_paginate %>
        </div>
    </div>

    
</div>